<div class="navbar-container">
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="#home" class="navbar-link">Home</a>
            </li>
            <li class="navbar-item">
                <a href="#editor" class="navbar-link">Editor de HTML</a>
            </li>
            <li class="navbar-item">
                <a href="#historico" class="navbar-link">Histórico</a>
            </li>
        </ul>
    </nav>
</div>