<div class="navbar-container">
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
                <NavLink href="/home" class="navbar-link" activeClass="active">Home</NavLink>
            </li>
            <li class="navbar-item">
                <NavLink href="/editor" class="navbar-link" activeClass="active">Editor de HTML</NavLink>
            </li>
            <li class="navbar-item">
                <NavLink href="/historico" class="navbar-link" activeClass="active">Histórico</NavLink>
            </li>
        </ul>
    </nav>
</div>
