@{
    ViewData["Title"] = "Página Inicial";
}

<div class="page-content">
    <h2>Converter Arquivo para PDF</h2>
    <br />

    <form action="/Home/ConvertToPdf" method="post" enctype="multipart/form-data">
        <div>
            <label for="file"><h5>Escolha um arquivo (TXT ou HTML):</h5></label>
            <input type="file" id="file" name="file" accept=".txt,.html" required />
        </div>
        <br />
        <div>
            <button type="submit" class="btn">Converter para PDF</button>
        </div>
    </form>
</div>
